<div class="container">

    <div class="row">
       {{!-- {{> _msg }} --}}
    </div>


    <h3>Current Reservations Lists</h3>
    <div class="hr-1px"></div>
    <div class="row">
        <div class="left"><a href="javascript:genPDF()">Download as PDF</a> </div>
    </div>
    <div class="row">

        {{#if bookings }}

        <table class="striped">
            <thead>
                <tr>
                    <th><h5>Reservation ID</h5></th>
                    <th><h5>Name</h5></th>
                    <th><h5>Email Address</h5></th>
                    {{!-- <th><h5>Booking Made</h5></th> --}}
                    {{!-- <th><h5>Status</h5></th> --}}
                    <th colspan="3" class="right-align"><h5>Manage</h5></th>

                </tr>
            </thead>

            <tbody>


                {{#each bookings }}


                <tr>
                    
                    <td>{{ _id }}</td>

                    <td>
                       {{ fname}} {{lname}}
                    </td>

                    <td>
                       {{ email }}
                    </td>
                   
                    <td class="right-align">
                        <a href="/admin/reservation/views/{{ id }}" >View</a>
                    </td>
                    <td class="right-align">
                        {{!-- <a href="/admin/reservation/{{ id }}" >Edit</a> --}}
                    </td>
                    <td class="right-align">
                        <form action="/admin/reservation/{{ id }}?_method=DELETE" method="post" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>



                    </td>


                </tr>
                {{/each}}

            </tbody>
        </table>

        {{else}}
        <p>Currently is no reservations available!</p>
        {{/if}}


    </div>
</div>